.flex-container {
  padding: 0;
  list-style: none;
/*  height: 50em*/;
  display: flex;
  -webkit-flex-direction: ;
  -webkit-flex-wrap: wrap;
}

.flex-container > header { 
    flex: 1 100%;
    background-color: #FFB4B0;
    margin-bottom: 10px;
}

a {
    color: darkviolet;
    font-weight: bold;
    padding: 10px;
}

a.visited {
    color: darkblue;
}

.left-box { 
    flex-grow: 1;
    background-color: #4DD7FA;
    margin-right: 15px;
    font-size: 20px;
}

.left-box > section {
    margin-bottom: 5px;
}

.checkbox-right {
    position: absolute; top: 13.3em;
    position: absolute; left: 6.5em;
}

.right-box { 
    flex-grow: 10;
    background-color: #FEFAC0;
}

.right-box > h1 {
    color: #785616;
}

.flex-item {  
  padding: 10px;
  border: 3px solid rgba(0,0,0,.2);
}

/*
body{
    position: relative;
}

nav {
    width: 100%;
    background-color: #FFB4B0;
    padding: 20px 0;
    min-height: 10%;
}

.blue-box {
    background-color: #4DD7FA;
    width: 23%;
    padding: 5px;
    margin: 10px 0 0 0;
    min-height: 500px;
    float: left;
}

.yellow-box {
    float: right;
    background-color: #FEFAC0;
    width: 73%;
    margin: 10px 0 0 0;
    padding: 5px;
    min-height: 500px;
}

.bordered {
    border: 2px solid black;
    /*padding-left: 5px;
}

fieldset {
    border: none;
}

.left{
    display: inline;
    float: left;
}

.right{
    display: inline;
    float: right;
}

h1 {
    color: #785616;
    padding: 10px;
}

.space {
    padding: 10px;
    font-weight: 15px;
    word-spacing: 10px;
}

#bottom {
    line-height: 25px;
}
*/*/