
    <div class="bordered fadeInRight" id="addMusic">
      <div>
        <label for="songName">Song Name:</label>
        <input type="textbox" name="songName" id="nameField">
      </div>

      <div>
        <label for="artist">Artist:</label>
        <input type="textbox" name="artist" id="artistField">
      </div>

      <div>
        <label for="album">Album:</label>
        <input type="textbox" name="album" id="albumField">
      </div>
      <div>
        <button type="button" id="addButton">Add</button>
        <a href="#listMusic" id="doneButton">
          <button type="button">Done</button>
        </a>
      </div>
    </div>
  </div>