    <div id="listMusic" class="row">
      <div class="col-md-3">
        <div class="filter-box bordered">
          <fieldset>
            <div>
               <label for="song-length">Song Title:</label>
            </div>
            <div>
              <input type="search" name="songTitle" id="songSearch">
            </div>
          </fieldset> 
        
        
          <fieldset>
            <div>
              <label for="artists">Artist:</label>
            </div>
            <div>
              <input type="search" name="artists" id="artistSearch">
            </div>
<!--               <datalist id="artists">
                <option value="Shania Twain">
                <option value="Metallica">
                <option value="Lifehouse">
                <option value="Bon Jovi">
                <option value="Miranda Lambert">
                <option value="Meghan Trainor">
                <option value="Brantley Gilbert">
                <option value="AC/DC">
              </datalist> -->
            </fieldset>
    
          <fieldset>
            <div>
              <label for="albums">Album:</label>
            </div>

            <div>
              <input type="search" name="albums" id="albumSearch">
            </div>
<!--               <datalist id="albums">
                <option value="Up">
                <option value="Black">
                <option value="Lifehouse">
                <option value="Bon Jovi">
                <option value="Platnium">
                <option value="Title">
                <option value="Bottoms Up">
                <option value="AC/DC">
              </datalist> -->
          </fieldset>
        
          <fieldset>
            <div>
              <label for"genre">Genre:</label>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="left">
                  <p><input type="checkbox" name="rock" value="rock"> Rock</p>
                  <p><input type="checkbox" name="blues" value="blues"> Blue</p>
                  <p><input type="checkbox" name="pop" value="pop"> Pop</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right">
                  <p><input type="checkbox" name="country" value="country">Country</p>
                  <p><input type="checkbox" name="jazz" value="jazz"> Jazz</p>
                  <p><input type="checkbox" name="hiphop" value="hiphop"> Hip Hop</p>
                </div>
              </div>
          </fieldset>
        
          <div>
            <button type="button" id="filterButton">Filter</button>
          </div>
        </div>
      </div>